.App {
  text-align: center;
}
h1{
  font-size:3rem;
}
p, h3{
  font-family: monospace;
  width:80%;
}

.App-header {
  background-color: #DEF1E7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}
.App-header h1{
    font-size:40px;
    font-family: monospace;
    margin-top:50px !important;
}

.js-plotly-plot{
  margin-bottom:55px;
}

.ui.selection.dropdown{
  font-size:small;
  margin-bottom:55px;
}

#githublink{
  margin-bottom: 15px;;
}